
.rbc-calendar {
  font-family: sans-serif;
  font-size: 15px; 
}

.rbc-toolbar {
  color: rgb(240, 240, 240); /* Change this to your desired color */
  font-weight: bold; /* Optional: make the text bold */
}

.rbc-toolbar button {
  color: rgb(240, 240, 245) !important; /* Change button text color */
}

.rbc-toolbar .rbc-btn-group button {
  color: green !important;
}

.rbc-day-bg.rbc-today {
  background-color: #a54c46 !important; /* Light blue highlight for today */
}

.rbc-day-bg + .rbc-day-bg {
  border-left: 1px solid #ffffff;
}