
.rbc-calendar {
  font-family: sans-serif;
  font-size: 12px; 
  color:black;

}

.rbc-time-slot {
  height: 170px !important;
}

.rbc-timeslot-group {
  height: 170px !important;
}

.rbc-time-content {
  height: 170px !important;
}

.rbc-current-time-indicator {
  background-color: #ff0202;  /* Change to your preferred color */
  
}
